@model richmedical.Models.ContactUs




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row clearfix">

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "gui-input", PlaceHolder = "Name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
          
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "gui-input", PlaceHolder = "Phone" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "gui-input", PlaceHolder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>

        

        


        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            @Html.TextAreaFor(model => model.Description,  new { @class = "gui-input", PlaceHolder = "Questions or Comments" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
            <button class="theme-btn btn-style-one" p type="submit" name="submit-form"><span class="txt">Get Appointment Now</span></button>
        </div>

    </div>
}