<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Uricko Medical HTML-5 Template | Homepage 01</title>
    <!-- Stylesheets -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css2")
    <link rel="stylesheet" href="~/Content/Public/style.css" />
    <link rel="stylesheet" href="~/Content/Public/color-themes/default-theme.css" />
    @RenderSection("css", false)

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Rubik:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        @Html.Partial("_NavBar")
        <!-- End Main Header -->
        <!-- Sidebar Cart Item -->
        <div class="xs-sidebar-group info-group">
            <div class="xs-overlay xs-bg-black"></div>
            <div class="xs-sidebar-widget">
                <div class="sidebar-widget-container">
                    <div class="widget-heading">
                        <a href="#" class="close-side-widget">
                            X
                        </a>
                    </div>
                    <div class="sidebar-textwidget">

                        <!-- Sidebar Info Content -->
                        <div class="sidebar-info-contents">
                            <div class="content-inner">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo-2.png" alt="" /></a>
                                </div>
                                <div class="content-box">
                                    <h2>About Us</h2>
                                    <p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
                                    <a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
                                </div>
                                <div class="contact-info">
                                    <h2>Contact Info</h2>
                                    <ul class="list-style-one">
                                        <li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
                                        <li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
                                        <li><span class="icon fa fa-envelope"></span>uricko@gmail.com</li>
                                        <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                                    </ul>
                                </div>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fab fa-twitter"></a></li>
                                    <li class="linkedin"><a href="#" class="fab fa-linkedin"></a></li>
                                    <li class="instagram"><a href="#" class="fab fa-instagram"></a></li>
                                    <li class="youtube"><a href="#" class="fab fa-youtube"></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END sidebar widget item -->
        <!-- Banner Section -->
        <section class="banner-section">
            <div class="main-slider-carousel owl-carousel owl-theme">

                <!-- Slide -->
                <div class="slide" style="background-image: url(images/main-slider/image-1.jpg)">
                    <div class="icon-layer-two" style="background-image: url(images/main-slider/circle-1.png)"></div>
                    <div class="icon-layer-three" style="background-image: url(images/main-slider/circle-2.png)"></div>
                    <div class="icon-layer-four" style="background-image: url(images/main-slider/circle-3.png)"></div>
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!-- Content Column -->
                            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <h1>Medical Consulting <br> Offering Services</h1>
                                    <div class="text">With Britain's largest network of private hospitals, <br> fast access to treatment</div>
                                    <div class="btns-box">
                                        <a href="about.html" class="theme-btn btn-style-one"><span class="txt">Explore all servicees</span></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Image Column -->
                            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="icon-layer-one" style="background-image: url(images/main-slider/pattern-1.png)"></div>
                                    <div class="image">
                                        <img src="images/main-slider/content-image-1.png" alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide" style="background-image: url(images/main-slider/image-1.jpg)">
                    <div class="icon-layer-two" style="background-image: url(images/main-slider/circle-1.png)"></div>
                    <div class="icon-layer-three" style="background-image: url(images/main-slider/circle-2.png)"></div>
                    <div class="icon-layer-four" style="background-image: url(images/main-slider/circle-3.png)"></div>
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!-- Content Column -->
                            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <h1>Medical Consulting <br> Offering Services</h1>
                                    <div class="text">With Britain's largest network of private hospitals, <br> fast access to treatment</div>
                                    <div class="btns-box">
                                        <a href="about.html" class="theme-btn btn-style-one"><span class="txt">Explore all servicees</span></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Image Column -->
                            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="icon-layer-one" style="background-image: url(images/main-slider/pattern-1.png)"></div>
                                    <div class="image">
                                        <img src="images/main-slider/content-image-1.png" alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide" style="background-image: url(images/main-slider/image-1.jpg)">
                    <div class="icon-layer-two" style="background-image: url(images/main-slider/circle-1.png)"></div>
                    <div class="icon-layer-three" style="background-image: url(images/main-slider/circle-2.png)"></div>
                    <div class="icon-layer-four" style="background-image: url(images/main-slider/circle-3.png)"></div>
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!-- Content Column -->
                            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <h1>Medical Consulting <br> Offering Services</h1>
                                    <div class="text">With Britain's largest network of private hospitals, <br> fast access to treatment</div>
                                    <div class="btns-box">
                                        <a href="about.html" class="theme-btn btn-style-one"><span class="txt">Explore all servicees</span></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Image Column -->
                            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="icon-layer-one" style="background-image: url(images/main-slider/pattern-1.png)"></div>
                                    <div class="image">
                                        <img src="images/main-slider/content-image-1.png" alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Banner Section -->
        <!-- Specialist Section -->
        @RenderBody()
        <section class="specialist-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="icon flaticon-hospital"></div>
                    <div class="title">We specialise in the  following sectors</div>
                    <h2>As a doctor, whether you wish <br> to work locally in Australia</h2>
                </div>
                <div class="clearfix">

                    <!-- Specialist Block -->
                    <div class="specialist-block">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><a href="services-detail.html"><img src="images/icons/specialist-1.png" alt="" /></a></span>
                            </div>
                            <h6><a href="services-detail.html">Clinical Psychology</a></h6>
                        </div>
                    </div>

                    <!-- Specialist Block -->
                    <div class="specialist-block">
                        <div class="inner-box wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><a href="services-detail.html"><img src="images/icons/specialist-2.png" alt="" /></a></span>
                            </div>
                            <h6><a href="services-detail.html">Emergency Medicine</a></h6>
                        </div>
                    </div>

                    <!-- Specialist Block -->
                    <div class="specialist-block">
                        <div class="inner-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><a href="services-detail.html"><img src="images/icons/specialist-3.png" alt="" /></a></span>
                            </div>
                            <h6><a href="services-detail.html">Emergency Medicine</a></h6>
                        </div>
                    </div>

                    <!-- Specialist Block -->
                    <div class="specialist-block">
                        <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><a href="services-detail.html"><img src="images/icons/specialist-4.png" alt="" /></a></span>
                            </div>
                            <h6><a href="services-detail.html">Peivate Medical</a></h6>
                        </div>
                    </div>

                    <!-- Specialist Block -->
                    <div class="specialist-block">
                        <div class="inner-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><a href="services-detail.html"><img src="images/icons/specialist-5.png" alt="" /></a></span>
                            </div>
                            <h6><a href="services-detail.html">Peivate Medical</a></h6>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Specialist Section -->
        <!-- Vision Section -->
        <section class="vision-section">
            <!-- Side Image -->
            <div class="side-image">
                <img src="images/resource/vision-3.jpg" alt="" />
            </div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Title Column -->
                    <div class="title-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">Our Vision</div>
                                <h2>Choice private London <br> healthcare provider</h2>
                                <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy  veli Nam nec tellus a odio nec tellus a odio ti tora torquperauris.</div>
                            </div>
                            <div class="blocks-outer">

                                <!-- Vision Block -->
                                <div class="vision-block">
                                    <div class="block-inner">
                                        <div class="vision-image">
                                            <img src="images/resource/vision-1.jpg" alt="" />
                                        </div>
                                        <h4><a href="services-detail.html">Guaranteed Booking Confirmation</a></h4>
                                        <div class="text">Recieve a call from our helpdesk to confirm your appointments.</div>
                                    </div>
                                </div>

                                <!-- Vision Block -->
                                <div class="vision-block">
                                    <div class="block-inner">
                                        <div class="vision-image">
                                            <img src="images/resource/vision-2.jpg" alt="" />
                                        </div>
                                        <h4><a href="services-detail.html">Book Family & Friends</a></h4>
                                        <div class="text">You will be able to book a doctor for your near and dear ones.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Appointment Column -->
                    <div class="appointment-column col-lg-6 col-md-12 col-sm-12">
                        <div class="icon-layer-one" style="background-image: url(images/icons/pattern-1.png)"></div>
                        <div class="inner-column">
                            <h3>Request an Appointment</h3>

                            <!-- Appointment Form -->
                            <div class="appointment-form">

                                <!-- Appointment Form -->
                                <form method="post" action="blog.html">
                                    <div class="row clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="username" placeholder="Patient Name*" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="phone" placeholder="Phone Number*" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="email" name="email" placeholder="Email Address" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <select class="custom-select-box">
                                                <option>Department</option>
                                                <option>Department 01</option>
                                                <option>Department 02</option>
                                                <option>Department 03</option>
                                                <option>Department 04</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <select class="custom-select-box">
                                                <option>Doctor</option>
                                                <option>Doctor 01</option>
                                                <option>Doctor 02</option>
                                                <option>Doctor 03</option>
                                                <option>Doctor 04</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" class="datepicker" name="date" placeholder="Booking Date" required="">
                                            <span class="icon far fa-calendar-check"></span>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <textarea class="" name="message" placeholder="Shortly describe the deases"></textarea>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">Get Appointment Now</span></button>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Vision Section -->
        <!-- Clients Section -->
        <section class="clients-section">
            <div class="auto-container">
                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Clients Section -->
        <!-- Services Section -->
        <section class="services-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="icon flaticon-hospital"></div>
                    <div class="title">provide services</div>
                    <h2>We serve best service</h2>
                </div>
                <div class="row clearfix">

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-1.jpg" alt="" />
                                <div class="icon flaticon-money"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Cosmetic Surgery</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-money"></div>
                                        <h5><a href="doctor-detail.html">Cosmetic Surgery</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-2.jpg" alt="" />
                                <div class="icon flaticon-syringe"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Medical Tretment</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-syringe"></div>
                                        <h5><a href="doctor-detail.html">Medical Tretment</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-3.jpg" alt="" />
                                <div class="icon flaticon-stomach"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Gastroenterology</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-stomach"></div>
                                        <h5><a href="doctor-detail.html">Gastroenterology</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-4.jpg" alt="" />
                                <div class="icon flaticon-nurse"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Dermatology</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-nurse"></div>
                                        <h5><a href="doctor-detail.html">Dermatology</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-5.jpg" alt="" />
                                <div class="icon flaticon-slim"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Weight Loss Procedures</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-slim"></div>
                                        <h5><a href="doctor-detail.html">Weight Loss Procedures</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-6.jpg" alt="" />
                                <div class="icon flaticon-intravenous-saline-drip"></div>
                            </div>
                            <div class="lower-content">
                                <h4>Medical Examinations</h4>
                            </div>
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon-two flaticon-intravenous-saline-drip"></div>
                                        <h5><a href="doctor-detail.html">Medical Examinations</a></h5>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Button Box -->
                <div class="btns-box text-center">
                    <a href="services.html" class="theme-btn btn-style-one"><span class="txt">view all servicees</span></a>
                </div>

            </div>
        </section>
        <!-- End Services Section -->
        <!-- Timing Section -->
        <section class="timing-section">
            <div class="image-layer" style="background-image: url(images/background/1.jpg)"></div>
            <div class="circle-layer" style="background-image: url(images/icons/pattern-3.png)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Timing Column -->
                    <div class="timing-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="clock-icon flaticon-clock"></div>
                            <h4>Working Hours</h4>
                            <div class="sub-text">Urgent call for patient <a href="tel:+0808-274-3429">0808 274 3429</a></div>
                            <ul class="time-list">
                                <li>Monday - Friday<span>08:00 am - 12:00 pm</span></li>
                                <li>Saturday<span>10:00 am - 12:00 pm</span></li>
                                <li>Sunday<span>By Appointment</span></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Choose Column -->
                    <div class="choose-column col-lg-6 col-md-12 col-sm-12">
                        <div class="icon-layer-one" style="background-image: url(images/icons/pattern-2.png)"></div>
                        <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="title">why choose us</div>
                            <h3>Why select Consultant Services?</h3>
                            <div class="blocks-outer">
                                <!-- Choose List -->
                                <ul class="choose-list">
                                    <li>
                                        <strong>Quick access to treatment</strong>
                                        Duis sed odio sit amet nibh vulpu tate cursus accumsan ipsuy
                                    </li>
                                    <li>
                                        <strong>Quality-assured</strong>
                                        Duis sed odio sit amet nibh vulpu tate cursus accumsan ipsuy
                                    </li>
                                    <li>
                                        <strong>Peace of mind</strong>
                                        Duis sed odio sit amet nibh vulpu tate cursus accumsan ipsuy
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Timing Section -->
        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="icon flaticon-hospital"></div>
                    <div class="title">Our Doctors</div>
                    <h2>Meet Specialists</h2>
                </div>
                <div class="team-carousel owl-carousel owl-theme">

                    <!-- Team Block -->
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="circle-box"></div>
                            <div class="image">
                                <a href="#"><img src="images/resource/team-1.jpg" alt="" /></a>
                            </div>
                            <div class="content">
                                <h4><a href="doctor-detail.html"><span>Dr.</span> Kim Sultana</a></h4>
                                <div class="designation">Precnancy Specialist</div>
                                <ul class="team-contact-list">
                                    <li>Phone : <a href="tel:+44-0-131-226-2200">+44 (0) 131 226 2200</a></li>
                                    <li>Email : <a href="mailto:info@headmedical.com">info@headmedical.com</a></li>
                                </ul>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fab fa-linkedin-in"></a></li>
                                    <li class="google"><a href="#" class="fab fa-google"></a></li>
                                    <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="circle-box"></div>
                            <div class="image">
                                <a href="#"><img src="images/resource/team-2.jpg" alt="" /></a>
                            </div>
                            <div class="content">
                                <h4><a href="doctor-detail.html"><span>Dr.</span> Jorgh Mark</a></h4>
                                <div class="designation">Precnancy Specialist</div>
                                <ul class="team-contact-list">
                                    <li>Phone : <a href="tel:+44-0-131-226-2200">+44 (0) 131 226 2200</a></li>
                                    <li>Email : <a href="mailto:info@headmedical.com">info@headmedical.com</a></li>
                                </ul>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fab fa-linkedin-in"></a></li>
                                    <li class="google"><a href="#" class="fab fa-google"></a></li>
                                    <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="circle-box"></div>
                            <div class="image">
                                <a href="#"><img src="images/resource/team-1.jpg" alt="" /></a>
                            </div>
                            <div class="content">
                                <h4><a href="doctor-detail.html"><span>Dr.</span> Kim Sultana</a></h4>
                                <div class="designation">Precnancy Specialist</div>
                                <ul class="team-contact-list">
                                    <li>Phone : <a href="tel:+44-0-131-226-2200">+44 (0) 131 226 2200</a></li>
                                    <li>Email : <a href="mailto:info@headmedical.com">info@headmedical.com</a></li>
                                </ul>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fab fa-linkedin-in"></a></li>
                                    <li class="google"><a href="#" class="fab fa-google"></a></li>
                                    <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="circle-box"></div>
                            <div class="image">
                                <a href="#"><img src="images/resource/team-2.jpg" alt="" /></a>
                            </div>
                            <div class="content">
                                <h4><a href="doctor-detail.html"><span>Dr.</span> Jorgh Mark</a></h4>
                                <div class="designation">Precnancy Specialist</div>
                                <ul class="team-contact-list">
                                    <li>Phone : <a href="tel:+44-0-131-226-2200">+44 (0) 131 226 2200</a></li>
                                    <li>Email : <a href="mailto:info@headmedical.com">info@headmedical.com</a></li>
                                </ul>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fab fa-linkedin-in"></a></li>
                                    <li class="google"><a href="#" class="fab fa-google"></a></li>
                                    <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Team Section -->
        <!-- Counter Section -->
        <section class="counter-section">
            <div class="auto-container">
                <div class="inner-container">
                    <!-- Fact Counter -->
                    <div class="fact-counter">
                        <div class="row clearfix">

                            <!-- Column -->
                            <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                                <div class="inner">
                                    <div class="icon flaticon-hospital"></div>
                                    <div class="content">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2500" data-stop="150">0</span><sup>K</sup>
                                        </div>
                                        <h4 class="counter-title">Finished Projects</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Column -->
                            <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                                <div class="inner">
                                    <div class="icon flaticon-nurse"></div>
                                    <div class="content">
                                        <div class="count-outer count-box alternate">
                                            <span class="count-text" data-speed="2000" data-stop="41">0</span><sup>+</sup>
                                        </div>
                                        <h4 class="counter-title">Winning Awards</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Column -->
                            <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                                <div class="inner">
                                    <div class="icon flaticon-checked-3"></div>
                                    <div class="content">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="61">0</span><sup>M</sup>
                                        </div>
                                        <h4 class="counter-title">Satisfied Customer</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Column -->
                            <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                                <div class="inner">
                                    <div class="icon flaticon-clipboard"></div>
                                    <div class="content">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="120">0</span><sup>k</sup>
                                        </div>
                                        <h4 class="counter-title">Satisfied Customer</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Counter Section -->
        <!-- Testimonial Section -->
        <section class="testimonial-section">
            <div class="image-layer" style="background-image: url(images/background/2.jpg)"></div>
            <div class="auto-container">
                <!-- Title Box -->
                <div class="title-box">
                    <h2>Medical record <span>reviews on 100%</span> <br> of the consulting</h2>
                </div>
                <div class="testimonial-carousel owl-carousel owl-theme">

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-1.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-2.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-3.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-1.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-2.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-3.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-1.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-2.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="author-image">
                                <div class="image">
                                    <img src="images/resource/author-3.jpg" alt="" />
                                </div>
                                <span class="quote-icon flaticon-quote-1"></span>
                            </div>
                            <h4>walkar james</h4>
                            <div class="designation">customer satisfaction</div>
                            <div class="text">The care and kindness shown to me by everyone at the hospital was exemplary. Thank you so much.</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Testimonial Section -->
        <!-- Faq Section -->
        <section class="faq-section">
            <div class="image-layer" style="background-image: url(images/background/3.jpg)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="icon-layer-one" style="background-image: url(images/icons/pattern-4.png)"></div>
                            <div class="image">
                                <img src="images/resource/faq-1.jpg" alt="" />
                            </div>
                            <div class="image-two">
                                <img src="images/resource/faq-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Accordion Column -->
                    <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">Frequently asked questions</div>
                                <h2>Provides answers to questions consulting?</h2>
                            </div>

                            <!-- Accordian Box -->
                            <ul class="accordion-box">

                                <!-- Block -->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How do I claim with Consultant Select?</div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="accordian-text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy veli Nam nec tellus a odio ti tora torquperauris ine nec tellus a odio ti tora torquperauris.</div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Block -->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Who are Alliance Health Group?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="accordian-text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy veli Nam nec tellus a odio ti tora torquperauris ine nec tellus a odio ti tora torquperauris.</div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Block -->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is Consultant Select included?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="accordian-text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy veli Nam nec tellus a odio ti tora torquperauris ine nec tellus a odio ti tora torquperauris.</div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Block -->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What hospital I'm treated at?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="accordian-text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy veli Nam nec tellus a odio ti tora torquperauris ine nec tellus a odio ti tora torquperauris.</div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Faq Section -->
        <!-- News Section -->
        <section class="news-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="icon flaticon-hospital"></div>
                    <div class="title">what’s new</div>
                    <h2>News & Updates</h2>
                </div>
                <div class="row clearfix">

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <div class="category">Artical</div>
                                <a href="news-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">03 Comments</a></li>
                                    <li><a href="#">June 21, 2021</a></li>
                                    <li><a href="#">12 Liks</a></li>
                                </ul>
                                <h4><a href="news-detail.html">Surgery has marked as of the most popular</a></h4>
                                <div class="text">There are a lot of women that are unaware of the numerous risks associated with their health and eventually ignore the ...</div>
                                <a href="news-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="image">
                                <div class="category">Artical</div>
                                <a href="news-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">03 Comments</a></li>
                                    <li><a href="#">July 21, 2021</a></li>
                                    <li><a href="#">12 Liks</a></li>
                                </ul>
                                <h4><a href="news-detail.html">Find out which posts are a hit with Blogger’s built.</a></h4>
                                <div class="text">There are a lot of women that are unaware of the numerous risks associated with their health and eventually ignore the ...</div>
                                <a href="news-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="image">
                                <div class="category">Artical</div>
                                <a href="news-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">03 Comments</a></li>
                                    <li><a href="#">Aug 21, 2021</a></li>
                                    <li><a href="#">12 Liks</a></li>
                                </ul>
                                <h4><a href="news-detail.html">Preparing for an ECG Tips From Our Diagnosticians</a></h4>
                                <div class="text">There are a lot of women that are unaware of the numerous risks associated with their health and eventually ignore the ...</div>
                                <a href="news-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Button Box -->
                <div class="btns-box text-center">
                    <a href="blog.html" class="theme-btn btn-style-one"><span class="txt">view all news</span></a>
                </div>

            </div>
        </section>
        <!-- End News Section -->
        <!--Main Footer-->
        <footer class="main-footer" style="background-image: url(images/background/2.jpg)">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                        </div>
                                        <div class="text">Duis sed odio sit amet nibh vulputate cursus accumsan ipsuy veli Nam nec tellus a odio nec tellus a odio ti tora torquperauris.</div>
                                        <ul class="social-icons">
                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fab fa-google"></span></a></li>
                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                            <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <div class="footer-title  clearfix">
                                            <h5>Useful Links</h5>
                                            <div class="separator"></div>
                                        </div>
                                        <ul class="footer-list">
                                            <li><a href="#">Employer Profiles</a></li>
                                            <li><a href="#">Meet the Team</a></li>
                                            <li><a href="#">Accreditations</a></li>
                                            <li><a href="#">Work for Us</a></li>
                                            <li><a href="#">Clinical governance</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <div class="footer-title  clearfix">
                                            <h5>News Update</h5>
                                            <div class="separator"></div>
                                        </div>

                                        <!--News Widget Block-->
                                        <div class="news-widget-block">
                                            <div class="widget-inner">
                                                <div class="image">
                                                    <img src="images/resource/news-image-1.jpg" alt="" />
                                                </div>
                                                <h6><a href="news-detail.html">Integrative Medicine And Cancer Treatment</a></h6>
                                                <div class="post-date">July 11, 2021</div>
                                            </div>
                                        </div>

                                        <!--News Widget Block-->
                                        <div class="news-widget-block">
                                            <div class="widget-inner">
                                                <div class="image">
                                                    <img src="images/resource/news-image-2.jpg" alt="" />
                                                </div>
                                                <h6><a href="news-detail.html">Achieving Better Health Care One Patient  Time</a></h6>
                                                <div class="post-date">July 11, 2021</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget contact-widget">
                                        <div class="footer-title  clearfix">
                                            <h5>Contact Us</h5>
                                            <div class="separator"></div>
                                        </div>

                                        <ul class="contact-list">
                                            <li><span class="icon flaticon-placeholder"></span>9999 New York Street Dan Ciago CA 9999-0000 USA</li>
                                            <li><span class="icon flaticon-call"></span>Mon to Fri : 08:30 - 18:00 <br> <a href="tel:+000-0000-000-00">+000 0000 000 00</a></li>
                                            <li><span class="icon flaticon-message"></span>Do you have a Question? <a href="mailto:uricko@gmail.com">uricko@gmail.com</a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="copyright">Uricko Helth Care 2021 &copy; All Rights Reserved By Codeliono</div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!-- Color Palate / Color Switcher -->
    <div class="color-palate">
        <div class="color-trigger">
            <i class="fas fa-cog"></i>
        </div>
        <div class="color-palate-head">
            <h6>Choose Your Color</h6>
        </div>

        <div class="various-color clearfix">
            <div class="colors-list">
                <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
                <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
                <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
                <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
                <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
                <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
                <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
                <span class="palate sky-blue-color" data-theme-file="css/color-themes/sky-blue-color.css"></span>
            </div>
        </div>

        <ul class="box-version option-box"> <li>Full width</li> <li class="box">Boxed</li> </ul>
        <ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>

        <a href="#" class="purchase-btn">Purchase now $17</a>

        <div class="palate-foo">
            <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
        </div>

    </div>

    <!-- Search Popup -->
    <div class="search-popup">
        <button class="close-search style-two"><span class="flaticon-multiply"></span></button>
        <button class="close-search"><span class="fa fa-arrow-up"></span></button>
        <form method="post" action="blog.html">
            <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search Here" required="">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- End Header Search -->
    <!-- Scroll To Top -->
    <div class="back-to-top scroll-to-target show-back-to-top" data-target="html">TOP</div>

    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)

</body>
</html>