@using PagedList.Mvc
@model PagedList.IPagedList<richmedical.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<div id="content1" class="table-layout animated fadeIn">
    <div class="tray tray-center">
        <div class="panel" style="margin: 0px">
            <div class="panel-body ph15">
                @Html.ActionLink("Create New", "Create", new { @class = "btn btn-lg btn-primary btn-block" })
            </div>
        </div>
    </div>
</div>

<section id="content" class="table-layout animated fadeIn">
    <div class="tray tray-center">
        <div class="panel">
            @using (Html.BeginForm("Index", "Products"))
            {

                <div class="panel-menu">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group input-hero input-hero-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Enter search terms.." })

                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-lg btn-primary btn-block" style="height: 53px">Search</button>
                        </div>
                    </div>
                </div>
            }

            <div class="panel-body ph20">
                <div class="tab-content">



                    <!-- User Search Pane -->
                    <div id="users">
                        <div class="table-responsive mhn20 mvn15">
                            <table class="table admin-form theme-warning fs13">
                                <thead>
                                <tr class="bg-light">
                                    <th>
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                        @Html.ActionLink("Image", "Index", new { sortOrder = ViewBag.ImageSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                        @Html.ActionLink("Arabic Name", "Index", new { sortOrder = ViewBag.NameArSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                        @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                        @Html.ActionLink("Arabic Description", "Index", new { sortOrder = ViewBag.DescriptionArSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="w50">
                                            <img class="img-responsive" src='~/Images/@item.Image' title="user">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NameAr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DescriptionAr)
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group text-right">
                                                <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Options
                                                    <span class="caret ml5"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right-right" role="menu">
                                                    <li>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                                                    </li>

                                                    <li>
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</section>
